<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
</head>
<body>
<div id="app">
    <span v-if="users.length == 0">Loading...</span>
    <div class="table-div" v-if="users.length > 0">
        <input type="button" value="prev" @click="prev" :disabled="page === 1">
        <input type="button" value="next" @click="next" :disabled="page === pageInfo.total_pages">
        <span>{{pageInfo.page}} of {{pageInfo.total / pageInfo.per_page}}</span>
        <span v-if="code === 203">Information might be non actual</span>
        <table class="table">
            <tbody>
            <tr v-for="user in users">
                <td><span>{{user.first_name}}</span></td>
                <td><span>{{user.last_name}}</span></td>
                <td><span>{{user.email}}</span></td>
                <td><img :src="'data:image;base64,' + user.image"/></td>
                <td><input type="button" value="details ->" @click="details(user.id)"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="details" v-if="currentUser.id">
        <p>First name: {{currentUser.first_name}}</p>
        <p>Last name: {{currentUser.last_name}}</p>
        <p>Email: {{currentUser.email}}</p>
        <p>Avatar: <img :src="'data:image;base64,' + currentUser.image"/></p>
    </div>
</div>
</body>
<script th:src="@{/js/index.js}" type="text/javascript"></script>
</html>
<style>
    .table-div {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .details {
        display: inline-block;
        width: 40%;
        float: right;
    }
</style>